
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville6family=PT+Sans:ital, wght@0,400;0,700;1,400;1,7006family-Work+Sans: wght@400;500; 600;700&display=swap");

.header {
  padding: 0 11.8rem;

  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.navbar-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.navbar-link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .header{
    flex-direction: column;
  }
}